extends layout.pug

include utils.pug
block content
  div
    ul.contactsContainer
        li.person
          div.name Caleb Gilbert
          ul.links
            li.link
              a(href='https://github.com/CalebAmes') Github
            li.link
              a(href='https://www.linkedin.com/in/caleb-gilbert-b522ab142/') LinkedIn
            li.link
              a(href='https://calebames.github.io/') Portfolio
        li.person
          div.name Keith Taylor
          ul.links
            li.link
              a(href='https://github.com/keitay72') Github
            li.link
              a(href='https://www.linkedin.com/in/keith-taylor-16825311/') LinkedIn
            //- li.link
            //-   a(href='') Portfolio
        li.person
          div.name Emad Masoud
          ul.links
            li.link
              a(href='https://github.com/Zero-cool94') Github
            li.link
              a(href='https://www.linkedin.com/in/emad-masoud-580688149/') LinkedIn
            li.link
              //- a(href='') Portfolio
        li.person
          div.name Tyler Ruby
          ul.links
            li.link
              a(href='https://github.com/TylerRuby0821') Github
            li.link
              a(href='https://www.linkedin.com/in/tyler-ruby-b700161ba/') LinkedIn
            li.link
              a(href='https://tylerruby0821.github.io/') Portfolio
