extends layout.pug

include utils.pug
block content
  div
    ul.contactsContainer
        li.person
          div.name Caleb Ames
          ul
            li.link
              a(href='') Github
            li.link
              a(href='') LinkedIn
            li.link
              a(href='') Portfolio
        li.person
          div.name Keith
          ul
            li.link
              a(href='') Github
            li.link
              a(href='') LinkedIn
            li.link
              a(href='') Portfolio
        li.person
          div.name Emad
          ul
            li.link
              a(href='') Github
            li.link
              a(href='') LinkedIn
            li.link
              a(href='') Portfolio
        li.person
          div.name Tyler Ruby
          ul
            li.link
              a(href='') Github
            li.link
              a(href='') LinkedIn
            li.link
              a(href='') Portfolio
