extends layout.pug

include utils.pug
  ul
      li
      a(href='') Caleb Ames
        ul
          li
            a(href='') Github
          li
            a(href='') LinkedIn
          li
            a(href='') Portfolio
      li
        a(href='') Keith
          li
            a(href='') Github
          li
            a(href='') LinkedIn
          li
            a(href='') Portfolio
      li
        a(href='') Emad
          li
            a(href='') Github
          li
            a(href='') LinkedIn
          li
            a(href='') Portfolio
      li
        a(href='') Tyler Ruby
          li
            a(href='') Github
          li
            a(href='') LinkedIn
          li
            a(href='') Portfolio
