extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  body
  h1= title
  div.programContainer
    each program in programs
      a#programlink(href="program/" + program.id)
        div.programDiv
          div.programFlex
            div.image
              img(id="programGif" src=program.thumbnail, alt="image")
            div.programDescription
              div.programName
                span.programName= program.name
              div.programBio
                span.programBio= program.bio
          div.buttonDiv
            button.likeButton(type="submit" class="like") Like
          div.commentIcon
            img.comment(src='/commentsIcon.png')

        //- td.programTable
        //-   a#comment //
        //- td.programTable
        //-   a#programlink(href="program/" + program.id) ℹ
