extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  div.programContainer
  each program in programs
    div.programDiv
      img(id="programGif" src="https://ph-files.imgix.net/f5f7c49d-cba0-4b24-8c6d-743995e27998.gif?auto=format&auto=compress&codec=mozjpeg&cs=strip&w=100&h=100&fit=crop", alt="image")
      div.one
        span.programName= program.name
      div.two
        span.programBio= program.bio

      button.likeButton(type="submit" class="like") Like

        //- td.programTable
        //-   a#comment //
  body
        //- td.programTable
        //-   a#programlink(href="program/" + program.id) ℹ
