extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= title
  each program in programs
    table.programTable    
      tr.programTable
        td.programTable= program.name
        td.programTable= program.bio
        td.programTable
          button#like ⬆ #{program.likes}
        td.programTable
          a#comment //
        td.programTable
          a#programlink(href="program/" + program.id) ℹ
  body
