doctype html
html
  head
      block head
        title="Program Hunt"
      
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/register.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sofia&display=swap")
  body
      if locals.authenticated
        form(class='logout' action='/login/logout' method='post')
          ul.nav-bar
            li
              a(href="/")
                img.logo(src="./programHuntLogo.png") 
            li
              a(href="/") Welcome #{user.username}!
            li
              a(href="/") Home
            li
              a(href="/") Profile
            li
              a(href="/program") Post
            li
              button#logoutButton(class='logout' type='submit') Logout
      else
        ul.nav-bar
          li
              img.logo(src="programHuntLogo.png") 
          li
            a(href="/") Home
          li
            a(href="/register") Register
          li
            a(href="/login") Login



  block content
