doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet" href="/stylesheets/register.css")
  body
      ul(class="nav-bar")
        li
          a(href="/") Home
        li
          a(href="/") Profile
      if locals.authenticated
        span Welcome #{user.username}!
        form(class='logout' action='/login/logout' method='post')
          button(class='logout' type='submit') Logout
      else
        ul.nav-bar
        li
          a(href="/register") Register
        li
          a(href="/login") Login



  block content
