extends layout.pug

include utils.pug

block content

    h2 Post a Program
    div.registration
        form.registration(action='/program' method='post')
            div
                input(type='hidden' name='_csrf' value=csrfToken)
                input.formtext(type='text' placeholder="Program Name" name='name')
            div
                input.formtext(type='text' name='thumbnail' placeholder='Thumbnail Url')
            div
                textarea.formtext(type='text', placeholder="Brief Summary", name="bio")
            div 
                textarea.formtext(type='text'  placeholder="Description" name='description')
            div
                input.formtext(type='text' name='video' placeholder='Video Url')
            div
                input.formtext(type='text' name='image' placeholder='Image Url')
            div    
                button.signup(type='submit') Post
    div.errors
        +validationErrorsSummary(errors)
