extends layout.pug

include utils.pug


block content

  h2 Sign Up
  div.registration
    form.registration(action="/register" method="post")
      div
        input.formtext(type='text' name='username' placeholder="Username")

        input(type='hidden' name='_csrf' value=csrfToken)

      div
        input.formtext(type='email' name='email' placeholder="Email Address")
      div
        input.formtext(type='password' name='password' placeholder="Password")
      div
        input.formtext(type='password' name='confirmPassword' placeholder="Confirm Password")
      button.signup(type='submit') Sign Up
  div.errors
    +validationErrorsSummary(errors)