.header {
    display: flex;
    justify-content: center;
}

.thumbnailDiv {
    padding: 50px;
}

.name {
    display: flex;
    margin-top: 50px;
}

.bio {

}

.contentContainer {
    display: block;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 5px gray;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid white;
    border-radius: 2%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10;

}
.content {
    display:block;
    justify-content: center;
    background-color: white;
    margin: 12px

}

.descDiv {
    text-align: center;
    width: 500px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.description {
    background-color: white;
}

.commentHolder {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.commentblock {
    margin-top: 20px;
    text-align: center;
}

.buttonholderHolder {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 5%;
}
