* {
    /* background-color: white; */
    /* 0c1618 */
    background-color: #caf0f8;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.nav-bar{
    background: #00b4d8;
    border-bottom: 1px solid#faf4d3;
    display: flex;
    padding:5px 0px 5px 0px;
    justify-content:center;
    align-items: center;
    font-size: 20px;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
}

.nav-bar a:hover{
    color:#03045e;
    position: sticky;
    background: #00b4d8;
}

.nav-bar a {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    color: #faf4d3;
    background: #00b4d8;
}

.nav-bar > li {
    display: inline-block;
    padding: 0px 15px 0px 15px;
    background: #00b4d8;
    
}

.logo{
    border-radius: 50%;
}

#logoutButton{
    background: #00b4d8;
    color: #faf4d3;
    border: none;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

#logoutButton:hover{
    color:#03045e;
}

.errors > ul{
    list-style: square;
}

.errors {
    margin: 30px;
    display: flex;
    justify-content: flex-end;
    color: red;
    font-weight: bold;
    font-size: 10px
}

#space{
    padding: 20px;
    background:#90e0ef
}
