* {
    background-color: #16161d;
    color: #C9C9C9;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /* font-size:10px; */
}

.nav-bar{
    background: #16161d;
    border-bottom: 1px solid#6f6f6f;
}
/* form {
    background-color: palevioletred;
} */

footer {
    background-color: orange;
}

.nav-bar{
    display: flex;
    padding:5px 300px 5px 200px;
    justify-content:flex-start;
    align-items: center;
    font-size: 20px;
}

.nav-bar a:hover{
    color:#cc4d29;
    position: sticky;
}

.nav-bar a {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    color: #6f6f6f;
}

.nav-bar > li {
    display: inline-block;
    padding: 0px 15px 0px 15px;
}

.logo{
    border-radius: 50%;
}

#logoutButton{
    background: #16161d;
    color: #6f6f6f;
    border: none;
    font-size: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

#logoutButton:hover{
    color:#cc4d29;
}

.errors > ul{
    list-style: square;
}

.errors {
    margin: 30px;
    display: flex;
    justify-content: flex-end;
    color: red;
    font-weight: bold;
    font-size: 10px;
    
}