* {
    background-color: #16161d;
    color: #C9C9C9;
    box-sizing: border-box;
    font: 18x “Segoe UI”, Helvetica, Arial, sans-serif;
}

body {
    padding: 50px;
    color: #C9C9C9;
}


/* form {
    background-color: palevioletred;
} */

footer {
    background-color: orange;
}

a {
    color: #00B7FF;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ol,
li,
ul,
div,
span,
body,
header,
nav {
    font-size: 1rem;
    color: inherit;
    background-color: transparent;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

.nav-bar a {
    color: black;
}

.nav-bar a:hover {
    background-color: lightblue;
    color: #C9C9C9;
}

.nav-bar li {
    display: inline-block;
    padding: 10px;
}